<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    background-color: #1c1c1c;
  }
  body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: ^^;
    gap: 20px; /* Espaçamento entre as colunas */
  }

  .sidebar {
    width: 300px;
    height: 600px;
    background: white;
    width: 200px;
    margin-left: 2%;
    color: white;
    flex-direction: column;
  }

  table {
    width: 800px;
    margin: 10px auto;
    border-collapse: collapse;
    text-align: left;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    top: 2%;
    padding: 0;
  }

  .sidebar {
    grid-column: 1; /* A sidebar ocupa a primeira coluna */
  }

  table {
    grid-column: 2; /* A tabela ocupa a segunda coluna */
  }

  thead > tr {
    background-color: green;
    color: white;
  }
</style>

<body>
  <div class="sidebar">
    <div class="imgProfile">
      <img
        src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"
        alt=""
      />
    </div>
    <div class="informationsTeacher">
      <strong>Pedro dos santos</strong>
      <p>pedro@professor.com.br</p>
    </div>
    <div class="linksPrincipais">
      <a href="">Frequencia</a>
      <a href="">Alunos</a>
      <a href="">Notas</a>
      <a href="">Disciplina</a>
    </div>
  </div>

  <!-- {% extends 'base.html' %} -->

  <!-- {% block content %} -->
  <div>
    <h1>Lista de Alunos</h1>

    <table>
      <thead>
        <tr>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        <!-- {% for aluno in alunos %} -->
        <tr>
          <td>{{ aluno.matricula }}</td>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.email }}</td>
        </tr>
        <!-- {% endfor %} -->
      </tbody>
    </table>
  </div>
</body>
